.design{
    padding: 60px 0;
    @include media(768){
        padding: 30px 0;
    }
    &__title{
        text-align: center;
        font-weight: 700;
        font-size: 60px;
        line-height: 140%;
        margin-bottom: 30px;
        @include media(992){
            font-size: 50px;
            line-height: 120%;
        }
        @include media(768){
            font-size: 40px;
        }
    }
    &__cards{
        display: flex;
        align-items: stretch;
        justify-content: space-between;
        @include media(768){
            flex-direction: column;
            align-items: center;
        }
    }
    &__card{
        width: calc(33.333% - 6.666px);
        overflow: hidden;
        @include media(768){
            max-width: 370px;
            width: 100%;
        }
        @include media(575){
            max-width: 100%;
        }
        &:not(:last-of-type){
            @include media(768){
                margin-bottom: 15px;   
            }
        }
    }
    &__img{
        width: 100%;
        height: 100%;
        transition: 300ms ease;
        line-height: 0;
        &:hover{
            transform: scale(1.1);
        }
        img{
            width: 100%;
            height: 100%;
        }
    }
}