.header{
    background-color: #97887b;
    color: #ffffff;
    padding: 20px 0;
    &__nav{
        display: flex;
        justify-content: flex-end;
    }
    .menu{
        cursor: pointer;
        width: 24px;
        height: 18px;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index:2;
        &-btn{
            display: block;
            width: 100%;
            height: 2px;
            background: #fff;
        }
        &::before{
            content: '';
            position: absolute;
            width: 100%;
            height: 2px;
            background: #fff;
            top: 0;
            transition: 300ms ease;
        }
        &::after{
            content: '';
            position: absolute;
            width: 100%;
            height: 2px;
            background: #fff;
            bottom: 0;
            transition: 300ms ease;
        }
        &.active{
            .menu-btn{
                display: none;
            }
            &::before{
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%) rotate(45deg);
                background: #363636;
            }
            &::after{
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%) rotate(-45deg);
                background: #363636;
            }
        }
    }
    &__list{
        position: fixed;
        height: 100vh;
        top: 0;
        right: 0;
        max-width: 500px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transform: translateX(100%);
        background: #f2f2f2;
        transition: 300ms ease;
        z-index: 1;
        @include media(768){
            max-width: 100%;
        }
        &.active{
            transform: translateX(0);
        }
    }
    &__li{
        &:not(:last-of-type){
            margin-bottom: 20px;
        }
    }
    &__link{
        font-weight: 500;
        font-size: 18px;
        color: #363636;
    }
}