.intro{
    background: #97887b;
    color: #ffffff;
    padding-top: 30px;
    padding-bottom: 60px;
    @include media(768){
        padding-top: 15px;
        padding-bottom: 30px;
    }
    @include media(575){
        padding-top: 0;
    }
    &__body{
        display: flex;
        align-items: stretch;
        justify-content: flex-start;
        @include media(992){
            justify-content: space-between;
        }
        @include media(768){
            flex-direction: column;
        }
    }
    &__left{
        padding-right: 60px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 50%;
        @include media(992){
            width: 100%;
            padding-right: 30px;
        }
        @include media(768){
            margin-bottom: 20px;
        }
    }
    &__title{
        font-size: 40px;
        font-weight: 700;
        margin-bottom: 20px;
        @include media(992){
            font-size: 32px;
            margin-bottom: 12px;
        }
        @include media(768){
            font-size: 28px;
        }
    }
    &__links{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        @include media(768){
            margin-bottom: 12px;
        }
    }
    &__link{
        display: block;
        max-width: 32px;
        width: 100%;
        @include media(992){
            max-width: 27px;
        }
        &:not(:last-of-type){
            margin-right: 12px;
        }
        img{
            width: 100%;
            height: 100%;
        }
    }
    &__subtitle{
        font-weight: 600;
        font-size: 22px;
        margin-bottom: 15px;
        @include media(992){
            font-size: 18px;
            margin-bottom: 11px;
        }
        @include media(575){
            font-size: 16px;
        }
    }
    &__desc{
        font-size: 17px;
        line-height: 140%;
        font-size: 17px;
        line-height: 140%;
        width: 100%;
        max-width: 590px;
        @include media(992){
            font-size: 16px;
        }
        @include media(575){
            font-size: 14px;
        }
    }
    &__img{
        width: 50%;
        display: flex;
        justify-content: center;
        @include media(992){
            max-width: 300px;
            width: 100%;
            justify-content: flex-end;
        }
        @include media(768){
            max-width: 100%;
        }
        img{
            max-width: 400px;
            width: 100%;
            @include media(992){
                max-width: 100%;
            }
        }
    }
}