mixin about()
    .about
        .about__body.container
            .about__img 
                img(src="@img/about-img.jpeg", alt="" draggable="false")
            h2.about__title Material-wise, nautical decor incorporates unfinished wood in its tables or chairs, combined with chic linen upholstery for your lounge seats and sofas. 
            p.about__desc Your options for decorative accents are many: seashells in clear jars, jute ropes, rowing oars, sailboats, navigational maps, and more!