mixin awards()
    .awards 
        .awards__body
            .awards__left 
                p.awards__p Bathroom Trends
                p.awards__p Modern Design
                p.awards__p Luxury Interiors
                p.awards__p Our Awards
            .awards__content 
                p.awards__desc Paragraph. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates ratione possimus atque qui quod fuga quis dicta nisi harum id, quasi molestiae, reprehenderit cupiditate! Laboriosam odio accusamus nobis vitae cum!
                .awards__img    
                    img(src="@img/awards-img.jpeg", alt="" draggable="false")