mixin design()
    .design 
        .design__body.container 
            h2.design__title design
            .design__cards 
                .design__card 
                    .design__img 
                        img(src="@img/design-img-1.jpeg", alt="" draggable="false")
                .design__card 
                    .design__img 
                        img(src="@img/design-img-2.jpeg", alt="" draggable="false")
                .design__card 
                    .design__img 
                        img(src="@img/design-img-3.jpeg", alt="" draggable="false")