mixin footer()
    footer.footer   
        .footer__body.container
            p.footer__desc Sample text. Click to select the text box. Click again or double click to start editing the text.
            p.footer__p #[a(href="#!") Website Templates] created with #[a(href="#!") Website Builder Software.]