mixin header()
    header.header 
        .header__nav.container  
            .menu 
                span.menu-btn 
            ul.header__list 
                li.header__li 
                    a(href="#!").header__link  Home
                li.header__li 
                    a(href="#!").header__link  About
                li.header__li 
                    a(href="#!").header__link  Awards
                li.header__li 
                    a(href="#!").header__link  Designs
                li.header__li 
                    a(href="#!").header__link  Prices
                li.header__li 
                    a(href="#!").header__link  Contacts