mixin intro()
    .intro 
        .intro__body.container 
            .intro__left 
                .intro__top
                    h1.intro__title Nordic Style
                    .intro__links 
                        a(href="https://facebook.com").intro__link 
                            img(src="@img/facebook.png", alt="" draggable="false")
                        a(href="https://twitter.com").intro__link 
                            img(src="@img/twitter.png", alt="" draggable="false")
                        a(href="https://instagram.com").intro__link 
                            img(src="@img/instagram.png", alt="" draggable="false")
                .intro__bottom 
                    p.intro__subtitle Home design ideas & products
                    p.intro__desc Sample text. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Sit amet tellus cras adipiscing enim. Ut porttitor leo a diam sollicitudin. 
            .intro__img 
                img(src="@img/intro-img.jpeg", alt="" draggable="false")