mixin prices()
    .prices 
        .prices__body.container 
            .prices__img 
                img(src="@img/prices-img.jpg", alt="" draggable="false")
            p.prices__subtitle Product 1 Title
            p.prices__num $17.00
            p.prices__desc Sample small text. Lorem ipsum dolor sit amet.
            button(type="button").prices__btn Add to card